.svgContainer, .svgContainerDark {
  margin: 2em 0;
  position: relative;
}

.illustration, .illustrationDark {
  width: 100%;
  height: auto;
}

.illustration path,
.illustrationDark path {
  position: relative;
  z-index: 0;
}

.illustration .empty,
.illustration .muscle {
  fill: #757575;
}
.illustrationDark .empty,
.illustrationDark .muscle {
  fill: #25262b;
}
.muscleContainer {
  z-index: 1;
  cursor: pointer;
}

.illustration .muscle.enabled {
  fill: #bdbdbd;
}

.illustrationDark .muscle.enabled {
  fill: #5c5f66;
}

.muscle.enabled.hover {
  fill: #69b0ee;
  cursor: pointer;
}

.muscle.enabled.active {
  fill: #228be6;
}
